<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" />
    <title>lived-web-front</title>
    <!--
      @webcomponents/webcomponentsjsを特定バージョン(2.1.2)にしないとIE11でエラーが発生してしまう。(2018/01/04時点)
      現象は次のURLを参照: https://github.com/webcomponents/webcomponentsjs/issues/972#issuecomment-437826947
    -->
    <script src="node_modules/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js"></script>
    <script src="node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  </head>

  <body>
    <app-view></app-view>
    <script src="<%= htmlWebpackPlugin.options.bundledScript %>"></script>
  </body>
</html>
